<html>
    <head>
        <title>Criador 👤</title>
        <link rel="stylesheet" href="../styles/criador.css">
        <link rel="icon" href="../img/iconeCriador.svg">
    </head>
    <body>
        <div class="criador">
            <div class="videoBackground">
                <video autoplay muted loop playsinline> 
                    <source src="../videos/backgroundJogo.mp4" type="video/mp4"/>
                </video>
            </div>
            <div class="conteudo">
                <div class="titulo">
                    <h1>MAIS SOBRE MIM</h1>
                </div>
                <div class="fotoCriador">
                    <img src="../img/fotoCriador.jpg" alt="">
                    <h1>WALLY</h1>
                    <p>Eu me chamo Wállysson, e sou aspirante a Desenvolvedor Full Stack.</p>
                    <a href="https://www.instagram.com/wally_lll/"> Meu Instagram 📷</a>
                </div>
                <div class="pe">
                    <div class="rodape">
                        <a href="../index.html">Menu ☰</a>
                        <a href="../templates/descricao.html">Descrição 📝</a>
                    </div>
                </div>
            </div>
            
        </div>
    </body>
</html>