<html></html>
    <head>
        <title>Jogo 🎮</title>
        <link rel="stylesheet" href="../styles/jogo.css">
        <link rel="icon" href="../img/iconeJogo.png">
    </head>
    <body>
        <div class="criador">
            <div class="videoBackground">
                <video autoplay muted loop playsinline> 
                    <source src="../videos/backgroundCriador.mp4" type="video/mp4"/>
                </video>
            </div>
            <div class="conteudo">
                <div class="titulo">
                    <h1>BEM VINDO AO JOGO SOBRE A CONSTRUÇÃO DE UM SITE</h1>
                </div>
                <div class="subtitulo">
                    <h2>Responda 5 perguntas sobre HMTL e CSS:</h2>
                </div>
                
                <div class="perguntas">
                    <form action="">
                        <label for="">1. O que é HTML e qual sua principal função?</label>
                        <input type="text" placeholder="Resposta...">
                        <label for="">2. Qual a diferença entre uma tag 'div' e uma 'span' no HTML?</label>
                        <input type="text" placeholder="Resposta...">
                        <label for="">3. O que é o seletor class no CSS e como ele é usado?</label>
                        <input type="text" placeholder="Resposta...">
                        <label for="">4. Qual a diferença entre id e class no HTML/CSS?</label>
                        <input type="text" placeholder="Resposta...">
                        <label for="">5. O que significa “responsividade” em CSS e como ela é aplicada?</label>
                        <input type="text" placeholder="Resposta...">

                        <button>Responder</button>
                    </form>
                </div>
                <div class="pe">
                    <div class="rodape">
                        <a href="../index.html">Menu ☰</a>
                        <a href="../templates/descricao.html">Descrição 📝</a>
                    </div>
                </div>
            </div>
            
        </div>
    </body>
</html>